**/*.pyc
**/*.npz
**/*.eps
**/*.pdf
**/*.png
/Lecture_5_Notebook/
/Lecture_6_Notebook/
/Lecture_7a_Notebook/
/Lecture_7b_Notebook/
/Lecture_8_Notebook/
/Lecture_10_Notebook/
/Lecture_11_Notebook/
/Lecture_12_Notebook/
/Lecture_13_Notebook/
/Advanced_Topics/
/Example_Project_PPT/
/Homeworks/
/.DS_Store
**/*.pdf
Homeworks/HW_L3.pdf
Homeworks/HW_L4.pdf
Homeworks/HW_L5.pdf
Homeworks/HW_L6.pdf
Homeworks/HW_5_CODE

