**/*.pyc
**/*.npz
/Lecture_7a_Notebook/
/Lecture_7b_Notebook/
/Lecture_8_Notebook/
/Lecture_10_Notebook/
/Lecture_11_Notebook/
/Lecture_12_Notebook/
/Lecture_13_Notebook/
/Advanced_Topics/
/Example_Project_PPT/
/.DS_Store
Homeworks/HW_L4.pdf
Homeworks/HW_L5.pdf
Homeworks/HW_L6.pdf
Homeworks/HW_5_CODE

